body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #f1f5f9;
}

/* NAVBAR */

.navbar {
  background: #0f172a;
  color: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #38bdf8;
}

.nav-links a {
  margin-right: 20px;
  color: white;
  text-decoration: none;
}

.welcome {
  margin-right: 10px;
}

/* BUTTONS */

.btn {
  background: #38bdf8;
  border: none;
  padding: 8px 15px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.btn-outline {
  border: 1px solid #38bdf8;
  background: transparent;
  color: #38bdf8;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
}

/* HERO */

.hero {
  background: linear-gradient(135deg, #38bdf8, #6366f1);
  color: white;
  padding: 60px;
  border-radius: 10px;
  margin: 20px;
  text-align: center;
}

/* STATS */

.stats {
  display: flex;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.stat-card {
  background: white;
  padding: 25px;
  border-radius: 10px;
  width: 200px;
  text-align: center;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

/* COURSES */

.courses-page {
  padding: 30px;
}

.courses-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
}

/* COURSE CARD */

.course-card {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.course-card:hover {
  transform: translateY(-5px);
}

.course-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.course-content {
  padding: 15px;
}

.instructor {
  color: #6366f1;
  font-weight: bold;
}

.card-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.card-buttons button {
  flex: 1;
  padding: 8px;
  border: none;
  background: #6366f1;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.btn-secondary {
  background: #0ea5e9 !important;
}
